aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1782986737989/work
aiohttp @ file:///D:/bld/aiohttp_1784900436109/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
annotated-types==0.7.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1774359453/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1762509393858/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_arrow_1760831179/work
astroid @ file:///D:/bld/astroid_1770634397186/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1763409923949/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_async-lru_1773926359/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1693061251004/work
babel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_babel_1772555330/work
backports.zstd @ file:///D:/bld/bld/rattler-build_backports.zstd_1778594078/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1764520477956/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1779460840462/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1770719370/work
Brotli @ file:///D:/bld/brotli-split_1764017006836/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
cffi @ file:///D:/bld/cffi_1761202861216/work
charset-normalizer==3.1.0
click @ file:///D:/bld/click_1734858834134/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
ConfigUpdater==3.2
contourpy @ file:///D:/bld/bld/rattler-build_contourpy_1769155992/work
cryptography @ file:///D:/bld/cryptography-split_1785640641528/work
curl_cffi==0.15.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
debugpy @ file:///D:/bld/bld/rattler-build_debugpy_1769745018/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1779115150916/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1768934076236/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
dill @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dill_1768863743/work
distro==1.9.0
dnspython==2.8.0
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_docstring-to-markdown_1746284388/work
duckdb @ file:///D:/bld/python-duckdb-split_1779290742601/work
elyra @ file:///home/conda/feedstock_root/build_artifacts/elyra_1777527872671/work
email-validator==2.3.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1763918002538/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-fastjsonschema_1755304154/work/dist
filelock==3.32.6
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1739898391164/work
fonttools @ file:///D:/bld/fonttools_1778770291327/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1733327382592/work/dist
fredapi==0.5.2
frozenlist @ file:///D:/bld/frozenlist_1779999730859/work
ggshield==1.54.0
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_gitpython_1786443183/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1749998426524/work
greenlet==3.5.1
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
id==1.6.1
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1779294335/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1776068706467/work
ipykernel @ file:///D:/bld/bld/rattler-build_ipykernel_1770566174/work
ipython==9.8.0
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1762040433881/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1733493628631/work/dist
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1772278416528/work
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
jiter==0.15.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1774655335424/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonpointer_1774311356/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jsonschema_1767839954/work
jsonschema-specifications @ file:///tmp/tmptzik3dqa/src
jupyter @ file:///home/conda/feedstock_root/build_artifacts/jupyter_1733818543322/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1733817997778/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_events_1776861872/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter-lsp_1775136333/work/jupyter-lsp
jupyter-resource-usage @ file:///home/conda/feedstock_root/build_artifacts/jupyter-resource-usage_1739452340033/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1767954655/work
jupyter_core @ file:///D:/bld/bld/rattler-build_jupyter_core_1760643889/work
jupyter_packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1733273071842/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_1778060967/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_server_terminals_1768574057/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1777483022156/work
jupyterlab-lsp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab-lsp_1748550130/work/jupyterlab-lsp
jupyterlab_git @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-git_1767607538249/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1733328101776/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab_server_1761145478/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyterlab_widgets_1762267481/work/python/jupyterlab_widgets
keyring==25.7.0
kiwisolver @ file:///D:/bld/bld/rattler-build_kiwisolver_1773067061/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1761596826058/work
loguru==0.6.0
lxml==6.0.2
markdown-it-py==4.2.0
MarkupSafe @ file:///D:/bld/markupsafe_1772444957495/work
marshmallow==4.3.1
marshmallow_dataclass==8.7.1
matplotlib==3.10.9
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mdurl==0.1.2
minio @ file:///home/conda/feedstock_root/build_artifacts/minio_1764207534654/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mistune_1777824616/work
more-itertools==11.1.0
multidict @ file:///D:/bld/multidict_1771610627435/work
multitasking==0.0.13
munkres==1.1.4
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1766485478710/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbconvert-core_1775615493/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nbdime_1770737581/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1733402752141/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_notebook_1777553380/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1733408315203/work
notify_py==0.3.43
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169226/work/dist/numpy-2.4.6-cp313-cp313-win_amd64.whl#sha256=7b1046b60b2c96c25f46df940af5aeb1bc8f61745213cb3bdad709787da11728
oauthlib==3.3.1
openai==2.41.1
openpyxl==3.1.5
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1734587627321/work
packaging==26.0
pandas==2.2.3
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
papermill @ file:///home/conda/feedstock_root/build_artifacts/papermill_1772337906471/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1777271521463/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_patsy_1760998269/work
peewee==4.0.6
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1775741140/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pluggy_1764896838/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1775771358777/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1756321756983/work
propcache @ file:///D:/bld/propcache_1780037677670/work
protobuf==7.35.0
psutil @ file:///C:/b/abs_b5gv3mn55h/croot/psutil_1736371546320/work
psycopg2-binary==2.9.12
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==23.0.1
pyasn1==0.6.4
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1733216196861/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pycryptodome @ file:///D:/bld/pycryptodome_1768755402633/work
pydantic==2.13.4
pydantic_core==2.46.4
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1733261631732/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1733216066937/work
pygitguardian==1.34.0
PyGithub @ file:///home/conda/feedstock_root/build_artifacts/pygithub_1787231855763/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyjwt_1779400286/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1786328786/work
PyNaCl @ file:///D:/bld/pynacl_1767323901160/work
pyOpenSSL==26.4.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.10.1
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1777318601910/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1736013464386/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1785177642503/work
pytokens @ file:///D:/bld/bld/rattler-build_pytokens_1778688864/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1733360721313/work
pytz==2026.2
pywin32 @ file:///D:/bld/bld/rattler-build_pywin32_1779222948/work
pywin32-ctypes==0.2.3
pywinpty @ file:///D:/bld/pywinpty_1759556127593/work/target/wheels/pywinpty-2.0.15-cp313-none-win_amd64.whl#sha256=da5c88e2327ca899f209b286b8886a9da3f35e0e776a9f6721198f21dd635e99
PyYAML @ file:///D:/bld/pyyaml_1770223249637/work
pyzmq @ file:///D:/bld/bld/rattler-build_pyzmq_1779483925/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1760379115/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1778851103/work
rfc3161-client==1.0.9
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rfc3987-syntax @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rfc3987-syntax_1752876729/work
rfc8785==0.1.4
rich==13.9.4
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1752367182816/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1764543047/work
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1765801249/work/dist/scikit_learn-1.8.0-cp313-cp313-win_amd64.whl#sha256=f5403dcf26507d86725483c624138bf9fdc565c7eb8fc1ff730fdad53549860f
scipy @ file:///C:/bld/scipy-split_1771879223536/work/dist/scipy-1.17.1-cp313-cp313-win_amd64.whl#sha256=f97aadc12afd2278bdd0b53093d24c0e7be7976d232ba678a2b0e2e6c8be53e4
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
securesystemslib==1.5.1
Send2Trash @ file:///D:/bld/bld/rattler-build_send2trash_1770937641/work
setuptools==82.0.1
shiboken6==6.10.1
sigstore==4.5.0
sigstore-models==0.0.6
sigstore-rekor-types==0.0.18
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_smmap_1781021238/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1762941432086/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1780468120386/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1779635457288/work
SQLAlchemy==2.0.50
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///D:/bld/statsmodels_1764983001644/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tenacity_1770510172/work
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1767096303160/work
terminado @ file:///D:/bld/bld/rattler-build_terminado_1766513806/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tigramite==5.2.10.1
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1729802851396/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tomlkit==0.13.3
tornado @ file:///D:/bld/tornado_1774357958951/work
tqdm==4.68.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1778074251/work
truststore==0.10.4
tuf==7.0.1
typeguard==4.6.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
typing_utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1733331286120/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
ujson @ file:///D:/bld/bld/rattler-build_ujson_1781561640/work
unearth==0.18.3
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1733323593477/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1778188571305/work
watchdog @ file:///D:/bld/bld/rattler-build_watchdog_1772608059/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1777744409267/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1761899299899/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1759928050786/work
websockets==16.0
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1736040839611/work
wheel==0.46.3
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1762040310212/work
win32_setctime==1.2.0
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
wrapt @ file:///D:/bld/wrapt_1785422066209/work
wrds==3.5.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1736192735449/work
yarl @ file:///D:/bld/yarl_1784526397336/work
yaspin @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_yaspin_1765443462/work
yfinance==1.4.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
